/*center layout*/
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 92px;
}

/*logo*/
.logo-wrap {
    margin-bottom: 28px ;
}

.google-logo {
    width: 272px;
    height: auto;
}

/*search box*/
.search-form {
    width: 100%;
    max-width: 584px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.search-box {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-border);
    border-radius: 24px;
    padding: 8px 14px;
    gap: 8px;
    background: var(--color-bg);
    transition: box-shadow 0.2s, border-color 0.2s;
}

.search-box:hover,
.search-box:focus-within {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-color:rgba(223, 225, 229, 0);
}

.search-icon {
    color: var(--color-text-secondary);
    font-size: 20px;
    flex-shrink: 0;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    color: var(--color-text);
    background: transparent;
    min-width: 0;
}

/*search buttons icons*/
.media-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.media-btn img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.media-btn:first-of-type {
    padding-left: 12px;
}

/*action buttonts*/
.search-actions {
    display: flex;
    gap: 12px;
}

.btn-search {
    background: var(--color-surface);
    border: 1px solid var(--color-surface);
    border-radius: 8px;
    color: var(--color-text);
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    padding: 0 16px;
    height: 36px;
    cursor: pointer;
    white-space: nowrap;
}

.btn-search:hover {
    border-color: var(--color-border);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: var(--color-surface);
}

/*language note*/
.language-note {
    margin-top: 28px;
    font-size: 13px;
    color: var(--color-text);
    display: flex;
    align-items: center;
    gap: 6px;
}

.lang-form {
    display: inline;
    margin: 0;
    padding: 0;
}

.lang-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-link);
    font-family: 'Roboto', arial, sans-serif;
    font-size: 13px;
    padding: 0;
    text-decoration: none;
}

.lang-btn:hover {
    text-decoration: underline;
}

/*flip search box*/
[dir="rtl"] .search-box {
    flex-direction: row-reverse;
}

[dir="rtl"] .media-btn:first-of-type {
    padding-left: 12px;
}

[data-theme="dark"] .mic-icon {
    content: url("/static/main/images/mircophone-removebg.png");
}

[data-theme="dark"] .camera-icon {
    content: url("/static/main/images/camera-removebg.png");
}
