{% extends 'main/base.html' %}
{% load static i18n %}

{% block title %}Google{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
{% endblock %}

{% block content %}
<section class="hero">
    <!--logo-->
    <div class="logo-wrap">
        <img src="{% static 'main/images/google-logo.png' %}" alt="Google" class="google-logo">
    </div>

    <!--search box-->
    <form class="search-form" action="https://www.google.com/search" method="GET" target="_blank">
        <div class="search-box">
            <span class="material-icons search-icon">search</span>

            <input
             type="text"
             name="q"
             class="search-input"
             autocomplete="off"
             aria-label="{% trans 'Search' %}"
            >

             <button type="button" class="media-btn" aria-label="{% trans 'Search by voice' %}">
                <img src="{% static 'main/images/mircophone.png' %}" alt="{% trans 'Search by voice' %}">
             </button>
             
             <button type="button" class="media-btn" aria-label="{% trans 'Search by image' %}">
                <img src="{% static 'main/images/camera.png' %}" alt="{% trans 'Search by image' %}">
             </button>
        </div>

        <!--action buttons-->
        <div class="search-actions">
            <button type="submit" class="btn-search">{% trans "Google Search" %}</button>
            <button type="submit" class="btn-search" name="btnI" value="I">{% trans "I'm Feeling Lucky" %}</button>
        </div>
    </form>

    <!--language-->
    {% get_current_language as CURRENT_LANG %}
    <span class="language-note">
        {% trans "Google offered in:" %}
        <form class="lang-form" action="{% url 'set_language' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            {% if CURRENT_LANG == 'en' %}
                <input type="hidden" name="language" value="ar">
                <button type="submit" class="lang-btn">العربية</button>
            {% else %}
                <input type="hidden" name="language" value="en">
                <button type="submit" class="lang-btn">English</button>
            {% endif %}
        </form>
    </span>

</section>
{% endblock %}
